<html>
<head>
	<title>Landing Page</title>
</head>

<body>
	<h1><i>Database query serialization via XML</i></h1>

	<hr>
	<h3><i>Search by ::</i></h3>
	<ul>
		<li><a href="/search/business/">Business</a></li>
		<li><a href="/search/school/">School</a></li>
		<li><a href="/search/person/">Person</a></li>
		<li><a href="/search/child/">Child</a></li>
		<li><a href="/search/global/">Entire Data Base</a></li>
	</ul>
	<h3><i>Commit Data by ::</i></h3>
	<ul>
		<li><a href="/commit/business/">Business</a></li>
		<li><a href="/commit/school/">School</a></li>
		<li><a href="/commit/person/">Person</a></li>
		<li><a href="/commit/child/">Child</a></li>
	</ul>

	<hr>
	<br>

	<table>
		<tr><td width=100><i>Designed by: </i></td><td width = 5></td><td><i>Matthew J. Swann { mjs0031@auburn.edu }</i></td></tr
		<tr><td></td><td><i></i></td><td><i>Bradon Atkins { atkinbp@auburn.edu }</i></td></tr>
		<tr><td></td><td><i></i></td><td><i>Yong Kim { yzk0011@auburn.edu }; &</i></td></tr>
		<tr><td></td><td><i></i></td><td><i>Adam Carter { abc0014@auburn.edu }</i></td></tr>
	</table>
	
</body>
</html>