<html>
<head>
	<title>Person</title>
</head>

<body>
	<h1><i>Data_Base: Specific Person</i></h1>
	
	<hr>
	<table>
		<tr><td width="250"><i>Full Name ::</i></td><td width="750"><a href="/person/{{ person.id }}">{{ person.last_name }}, {{ person.first_name }}</a></td></tr>
		<tr><td><i>Date Registered :: </i></td><td>{{ person.date_registered }}</td></tr>		
		<tr><td><i>Person ID ::</i></td><td>{{ person.id }}</td></tr>
		<tr><td><i>Business ::</i></td><td><a href="/business/{{ person.business.id }}">{{ person.business.name }}</a></td></tr>		
		<tr><td><i>Address ::</i></td><td>{{ person.address_line_one }}</td></tr>
		<tr><td><i></i></td><td>{{ person.address_line_two }}</td></tr>
		<tr><td><i></i></td><td>{{ person.city }}, {{ person.state }} {{ person.zip_code }}</td></tr>
	</table>
	
	
	<br>
	<hr>
	
	<h3>Links ::</h3>
	
	<ul>
		<li><a href="/">Return to Landing Page</a></li>
		<br>		
		<i>Search Options:</i>
		<li><a href="/search/business/">Business</a></li>
		<li><a href="/search/school/">School</a></li>
		<li><a href="/search/person/">Person</a></li>
		<li><a href="/search/child/">Child</a></li>
		<li><a href="/search/global/">Entire Data Base</a></li>
		<br>
		<i>Commit Data by ::</i>
		<li><a href="/commit/business/">Business</a></li>
		<li><a href="/commit/school/">School</a></li>
		<li><a href="/commit/person/">Person</a></li>
		<li><a href="/commit/child/">Child</a></li>
	</ul>
</body>
</html>